/* MOBILE HUB - A curated list of resources for
web designers and developers   */
*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    color: #828282;
}

body {     
    position: relative;
    display: flex;/*sticky bottom*/
    flex-direction: column; /*sticky bottom*/
}

body p, h1, h2, h3, h4{
    font-family: 'Yantramanav', sans-serif;
    font-weight: normal;
}

h2, h3, h4{ color: #171D1C;}


/***************************Logo Section*/

.githubbookmark {
    position: fixed;
    top: -0.75em;
    right: 2em;
    width: 3.5em
}

.minilogoLetters{
    font-size: 20px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    color: #96E6b3;
    text-decoration: none;

}

.header2 {
    text-align: center;
}


.logoSection{
    margin-top: 20px;
    text-align: center; 
    font-family: 'Yantramanav', sans-serif;
}

.logoSection a img{
    margin:0 20px; 
    vertical-align: middle;
    border: 1px solid white;
    z-index: 100;

}

.logoLetters{
    color:#96E6b3; 
    font-size: 2.5em;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.logoTagLine{
    margin-left: 15%;
    color:#171D1C;
}
.logoSection a:link{
    text-decoration: none;
    color:#171D1C;
}

/*********************** Flex Wrappers ***********************/

/*********************** Control for all items*/
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    /* text-align: center; */
    flex: 1 0 auto;/*sticky bottom This is the shorthand for flex-grow, flex-shrink and flex-basis combined*/
}
  
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
  
.header{ 
    justify-content: center;
    padding: 2% 25%;
    /* this padding has to match what's in the .main class */


}
/* .header-content{
    padding: 15px 100px;
} */

/*********************** Navigation Section*/
.nav {
    margin: 0;
    background-color: #171D1C;
    text-align: left;
}  

/* article.nav div{
    margin: 0 20%;
}
article.nav div.flex-container{
    margin: 0 20%;
} */
.nav ul li{ list-style-type: none;}
.nav p {color: #ffffff;}

hr.style {
    border: .5px solid #F1BF98;
    margin-top: -12px; 
}


hr.style2 {
    border: .5px solid #d3d3d3;
    width: 100%;
}


/*********************** Main Section */
.aside-1 { background:  #ffffff;}
.aside-2 { background: #ffffff;} /* Hidden Aside Sections for future call out or ads? */

.main {
    text-align: left;
    background: #ffffff;
    padding: 2% 25%;
  }


/* Profile Container's Parent Style */

.contributorProfile-container{
    display: flex;
    margin: 0 0 60px 0;
    padding: 0;
    flex-flow: row wrap;
    justify-content: space-around;

}

/* Profile Container's Children's Style */
.contributorProfile-item{
    padding: 28px;
    width: 155px;
    height: 227px;
    margin: 30px 5px 5px 5px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.contributorProfile-item img{
  width: 100%;    
}

/*********************** Flex for submodules */
 .flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    padding: 0px;
    width: auto;
    margin-top: 0px;
    font-weight: bold;
}

 .flex-emphasis-item{
    flex-grow: 2;
}  

/* .boxes {
    display: grid;

} */
.containerlist {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;

}

/*.topics {
     display: grid;
     gap between items  
    grid-gap: .5em;
    /*  set the columns
    grid-template-columns: 20em 20em;
}*/

.viewAll{
    text-align: right;
}

/*********************** Dynamically displayed content | SELECTED */
.selected {
    color: #f1bf98;
}

/* DISPLAY */
.content {
    display: none;
}
.visible {
    list-style-type: none;
    justify-content: center;
}
.Topics-Content{
    border: 1px solid pink;
}
p.intro.header-content{
    border: 4px solid yellow;
}

.topicimg.visible{
    border: 1px solid red;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.NoContent{
    display: none;
 }

 .ViewContent{
     display: inline;
     background-color: #171D1C;
 }







/*********************** LINK STYLES */

a:link, :visited {color: #F1BF98;}
.nav a:hover {color: #96E6b3;}

.nav a:link{
    text-decoration: none;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
}

/*********************** Footer Section*/
footer {
    background: #44Abe2;
    flex-shrink: 0; /*sticky bottom*/
  }

.footer p {
    text-align: center;
    color: #ffffff;
}
  

/************************** Search Input style */

form.example input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 2px solid #BDBDBD;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 14%;
    padding: 8px;
    background: #96e6b3;
    color: white;
    font-size: 20px;
    border: 2px solid #BDBDBD;
    border-left: none;
    cursor: pointer
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}


/*********************** Filter Buttons  */
#filterSection{
    background-color: #ffffff;
}
.filterButtons{
    position: absolute;
    left: 29.2%;
    right: 64.43%;
    top: 20.75%;
    bottom: 77.21%;
    border: 2px solid #BDBDBD;

}

.filterButtons{
    text-decoration: none;
    list-style-type: none;
}

  

/*********************** Media Queries*/
@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
    .header-content {
        /*background-color: #96E6b3;Testing colors*/
    } 
}
@media all and (max-width: 600px) {
    .aside { flex: 1 auto; }
    .header-content {
        /*background-color: #96E6b3;Testing colors*/
    } 
} 

@media all and (min-width: 800px) {
     /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
    .main    { 
        /*background-color: pink; Testing colors*/
        flex: 3 0px; 
    }
    /* .contributorProfile-container{
        flex-wrap: wrap;
      flex-direction: column; 
    } */
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}
  
@media screen and (min-width: 1750px) {  
    .topics {
        margin: 0 8em;
    }
}
@media screen and (min-width: 2050px) {  
    .topics {
        margin: 0 15em;
    }
}