/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   MOBILE HUB - Custom Styles
   ========================================================================== */
*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    color: #828282;
}

body {     
    position: relative;
    display: flex;/*sticky bottom*/
    flex-direction: column; /*sticky bottom*/
}

body p, h1, h2, h3, h4{
    font-family: 'Yantramanav', sans-serif;
    font-weight: normal;
}

h2, h3, h4{ color: #171D1C;}


/* ==========================================================================
    Logo Section
========================================================================== */

.githubbookmark {
    position: fixed;
    top: -0.75em;
    right: 2em;
    width: 3.5em
}

.minilogoLetters{
    font-size: 20px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    color: #96E6b3;
    text-decoration: none;

}
.logoSection{
    margin-top: 20px;
    text-align: center; 
    font-family: 'Yantramanav', sans-serif;
}

.logoSection a img{
    margin:0 20px; 
    vertical-align: middle;
    border: 1px solid white;
    z-index: 100;

}

.logoLetters{
    color:#96E6b3; 
    font-size: 2.5em;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.logoTagLine{
    margin-left: 15%;
    color:#171D1C;
}
.logoSection a:link{
    text-decoration: none;
    color:#171D1C;
}


/* ==========================================================================
    Flex Wrappers and Controls
========================================================================== */
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    flex: 1 0 auto;
}
  
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
  
.header{ 
    justify-content: center;
    padding: 2% 25%;
    text-align: justify;


}


/* ==========================================================================
    Navigation
========================================================================== */

/* Hamburger Navigation */
#menuToggle {
    display: block;
    position: relative;
    top:20px;
    left: 40px;
     z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input {
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0; 
    z-index: 2;
    -webkit-touch-callout: none;
  }
  
  /* Hamburger Icon */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  /* Transform hamburger into a crossmark */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -65px;
    padding: 130px 50px 50px 60px;
    background: #44Abe2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    line-height: 1em;
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menu a {color: white; text-decoration: none;}
  #menu a:hover{color: black; font-weight: bold;}

  #menuToggle input:checked ~ ul { transform: none;}
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 73px;
  }
  
  .collapse {
    -webkit-animation: collapse .5s ease forwards;
            animation: collapse .5s ease forwards;
  }
  
  .open {
    -webkit-animation: open .5s ease forwards;
            animation: open .5s ease forwards;
  }
  
  @-webkit-keyframes collapse {
    from {
      opacity: 1;
      top: 0;
    }
    to {
      opacity: 0;
      top: -73px;
    }
  }
  
  @keyframes collapse {
    from {
      opacity: 1;
      top: 0;
    }
    to {
      opacity: 0;
      top: -73px;
    }
  }
  @-webkit-keyframes open {
    from {
      opacity: 0;
      top: -73px;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes open {
    from {
      opacity: 0;
      top: -73px;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }
  
  /* end of hamburger navigation */

/* Callout Navigation */
.nav {
    /* display: flex; */
    align-content: flex-start;
    margin: 0;
    background-color: #171D1C;
    text-align: left;
}  

.nav ul li{ list-style-type: none;}
.nav p {
    color: #ffffff;
    padding: 0 0 0 25%;
}

hr.style {
    border-top: 1px solid #d3d3d3;
    margin: 30px -20px 20px;
}


hr.style2 {
    border-top: 1px solid #d3d3d3;
    margin: 5px 0;
}




/*********************** Main Section */
.aside-1 { background:  #ffffff;}
.aside-2 { background: #ffffff;} /* Hidden Aside Sections for future call out or ads? */

.main {
    background: #ffffff;
    padding: 2% 25%;
    text-align: justify;

  }


/* Profile Container's Parent Style */

.contributorProfile-container{
    display: flex;
    margin: 0 0 60px 0;
    padding: 0;
    flex-flow: row wrap;
    justify-content: space-around;

}

/* Profile Container's Children's Style */
.contributorProfile-item{
    padding: 28px;
    width: 155px;
    height: 275px;
    margin: 30px 5px 5px 5px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.contributorProfile-item img{
  width: 100%;    
}

/*********************** Flex for submodules */
 .flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    padding: 0px;
    width: auto;
    margin-top: 0px;
    font-weight: bold;
}


.containerlist {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;

}
.containerlist p{
    flex-direction: column;
}

.topics {
    display: flex;
    width: 55%;
    height: 200px;
    flex-wrap: wrap;
    flex-direction: column;
}

ul li.boxes {
    padding: 5px;
}
.viewAll{
    text-align: right;
}


/*********************** Dynamically displayed content | SELECTED */
.selected {
    color: #f1bf98;
}

/* DISPLAY */
.content {
    display: none;
}
.visible {
    list-style-type: none;
    justify-content: center;
}
li.Topics-Content{
    background: #ffffff;
    margin: 15px 0;
    padding: 5px 20px;
    border: 1px solid gold;
}


.topicimg.visible{
    /* border: 1px solid red; */
    justify-content: center;
    margin: 0;
    padding: 2% 25%;
}

.NoContent{
    display: none;
 }

 .ViewContent{
     display: inline;
     background-color: #171D1C;
 }


/* Need to check with Maria about renaming this class */

/* This also works as the flex container for the articles section */
.header2 {
    color: #f1f1f1;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2% 20%;

}

/* These are the items*/
.header2 .logoSection {

    padding: 10px;
    margin: 25px;
    flex: 0 0 auto; 
    background-color: white;


}
.categoryName {
    flex: 1 0 auto; 
    text-align: left;
}

p.intro.header-content{
    line-height: 35px;
    text-align: left;
    padding-right: 60px;
}




/*********************** LINK STYLES */

a:link, :visited {color: #F1BF98;}
.nav a:hover {color: #96E6b3;}

.nav a:link{
    text-decoration: none;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
}

/*********************** Footer Section*/
footer {
    background: #44Abe2;
    flex-shrink: 0; /*sticky bottom*/
  }

.footer p {
    text-align: center;
    color: #ffffff;
}
  

/************************** Search Input style */

input {	outline: none;}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
    font-family: 'Yantramanav', sans-serif;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	/*background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;*/
	border: solid 1px #ccc;
	padding: 11px 10px 9px 11px;
    width: 55%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
    transition: all .5s;

}

input[type=search]:focus {
	background-color: #fff;
	border-color: #66CC75;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {color: #999;}
input::-webkit-input-placeholder {	color: #999;}


/*********************** Filter Buttons  */
.filterSection-Container {
  font-family: 'Yantramanav', sans-serif;
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.filterflex-item {
    background-color: #171D1C;
    padding: 0px 20px;
    margin: 0 5px;
    border: 1px solid #ffffff;
    width: auto;
    height: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.filterflex-item:hover {
    background-color: #96E6b3;
    color:#171D1C;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*********************** Media Queries*/
@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
    .header-content {
        /*background-color: #96E6b3;Testing colors*/
    } 
}
@media all and (max-width: 600px) {
    .aside { flex: 1 auto; }
    .header-content {
        /*background-color: #96E6b3;Testing colors*/
    } 
} 

@media all and (min-width: 800px) {
     /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
    .main    { 
        /*background-color: pink; Testing colors*/
        flex: 3 0px; 
    }
}
  
@media screen and (min-width: 1750px) {  
    .topics {
        margin: 0 8em;
    }
}
@media screen and (min-width: 2050px) {  
    .topics {
        margin: 0 15em;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
