/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

html {
    color: $darkGray;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: $selection-background;
    text-shadow: none;
}

::selection {
    background: $selection-background;
    text-shadow: none;
}

a:-webkit-any-link{
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $lightgray;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: $lightgray;
    color: $black;
    padding: 0.2em 0;
}

/* ==========================================================================
   MOBILE HUB - Custom Styles
   ========================================================================== */
*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    color: $mediumgray;
    background-color: $color-backgrounds;
}

body {     
    position: relative;
    display: flex;/*sticky bottom*/
    flex-direction: column; /*sticky bottom*/
}

body p, h1, h2, h3, h4{
    font-family: $font-main;
    font-weight: normal;
}

h2, h3, h4{ color: $color-backgrounds;}

/* ==========================================================================
    Flex Wrappers and Controls
========================================================================== */
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: 500;
    flex: 1 0 auto;
}
  
.wrapper > * {
    flex: 1 100%;
}
