$lightGreen: #96E6B3;
$babyBlue:#44ABE2;
$darkGray: #171D1C;
$lightblue: #b3d4fc;
$lightgray: #ccc;
$mediumgray: #828282;
$white: #ffffff;
$black: #000;
$purple: #551A8B;


$color-main: $lightGreen;
$color-backgrounds: $darkGray;
$color-headlines: $babyBlue;
$selection-background: $lightblue;

$font-main: 'Yantramanav', sans-serif;